<!DOCTYPE html>

<meta charset="utf-8" />

<title>WebSocket Test</title>

<div id="main">
    <div class="apiKey">
        <textarea ref='apiKey' name="apiKey" cols="50" v-model='apiKey'></textarea>
    </div>
    <div class="timer-container"><label>Time (ms)<input type="text" v-model='time'></label></div>
    <div class="url">
        <textarea ref='url' name="url" cols="50" v-model='url'></textarea>

        <input type="button"
            name='connectButton'
            value="Connect"
            v-if="connected == false"
            @click="connect">

        <input type="button"
            name='closeButton'
            value="Close"
            v-if="connected"
            @click="close">

        <input type="button"
            value="toggle spammer"
            @click="toggleTicker">

    </div>

    <div class="message-container">
        <ul class="messages">
            <li class="message" v-for='item in messages'>{{ item }}</li>
        </ul>
    </div>
    <div class="input-container">
        <textarea name="inputtext" v-model='message' cols="50"></textarea>
    </div>
    <div class="actions">
        <input type="button"
            name='sendButton'
            value="Send"
            v-if="connected"
            @click="send">
    </div>
</div>


<script language="javascript" type="text/javascript" src='static/js/vue.js'></script>
<script language="javascript" type="text/javascript" src='static/js/index.js'></script>

</html>

